/**********Start Copy Right**********/
footer {
    margin-top: 0;
    padding-top: 50px ;
    border-top:solid $darkGray 1px;
    background-color: #333;
    color: #fff;
    font-family: 'asap','sans-serif';
} 
footer p{
    color: #aaa;
    margin-bottom: 0px;
    font-size: 17px;
    cursor: pointer;
}
footer p:hover{
    color: #fff;
}
.footer-ser a{
    color: #aaa;
}
.footer-ser a:hover{
    color: #fff;
}
footer h4{
color: #fff;
font-weight: bold;
margin-bottom: 20px;
}
footer ul li a {
    color: $mainColor !important;
    font-size: 17px;
    cursor: pointer;
}  
footer .face{
    color: #fff;
}
footer .tw{
    color: #55bdee;
}
footer .insta{
    color: #d35400;
}
footer .linked{
    color: #0993e396;
}

footer .social i{
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.copy-right{
    background-color: #444;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}
footer .global i,footer .global span{
    color: #fff;
    font-size: 17px;
    text-decoration: none;
}
footer .global span:hover{
    color: #aaa;
}
footer img.host{
    width: 80%;
}
footer .hosting{
    margin-top: -85px;
}
footer .hosting p{
    margin-top: -40px;
}