body{
    background-color:#fff ;
}
body.En{
    font-family: 'asap','sans-serif';
    overflow: hidden;
}
html,body{
overflow-x: hidden !important;
max-width: 100%;
width: 100%;
overflow: auto;}
::selection{
    background-color: #ff7979;
}
.head-after::after{
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: $mainColor;
    margin: 20px 498px;
}
.head-after-read::after{
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: $mainColor;
    margin: 20px 560px;
}
.head-after-lang::after,.head-after.trans::after{
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: $mainColor;
    margin: 20px 630px;
}
@media(max-width:992px){
    .head-after-read::after,
    .head-after-lang::after
    ,.head-after.trans::after{
        display: none;
    }

}